<div class="row">
  <div class="col-sm-6">
    <form #form="ngForm" (ngSubmit)="saveProduct(form)">
      <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" [(ngModel)]="editProd.title" name="title" type="text" id="title" class="form-control" required>
        <div *ngIf="title.invalid && title.touched" class="alert alert-danger">Title is required</div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">$</span>
          </div>
          <input #price="ngModel" [(ngModel)]="editProd.price" name="price" type="number" id="price" class="form-control" aria-describedby="basic-addon1" required [min]="0">
        </div>
        <div *ngIf="price.invalid && price.touched" class="alert alert-danger">
          <div *ngIf="price.errors?.required">Price is required</div>
          <div *ngIf="price.errors?.min">Price should be 0 or higher</div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" [(ngModel)]="editProd.category" name="category" id="category" class="form-control" required>
          <option *ngFor="let category of categories$ | async" [value]="category.key">
            {{category.payload.val().name}}
          </option>
        </select>
        <div *ngIf="category.invalid && category.touched" class="alert alert-danger">Category is required</div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input #imageUrl="ngModel" [(ngModel)]="editProd.imageUrl" name="imageUrl" type="text" id="imageUrl" class="form-control" required url>
        <div *ngIf="imageUrl.invalid && imageUrl.touched" class="alert alert-danger">
          <div *ngIf="imageUrl.errors?.required">Image url is required</div>
          <div *ngIf="imageUrl.errors?.url">Please enter a valid URL</div>
        </div>
      </div>
      <button class="btn btn-primary">Save</button>
      <button *ngIf="id" type="button" (click)="deleteProd()" class="btn btn-danger float-right">Delete</button>
    </form>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img *ngIf="editProd.imageUrl" class="card-img-top" [src]="editProd.imageUrl">
      <div class="card-body">
        <h5 class="card-title">{{editProd.title}}</h5>
        <p class="card-text">{{editProd.price | currency:'USD':true}}</p>
        <p class="card-text">{{editProd.category}}</p>
      </div>
    </div>
  </div>
</div>
