<div class="row mb-2">
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productAll$">
        <td>{{product.payload.val().title}}</td>
        <td>{{product.payload.val().price | currency:'USD':true}}</td>
        <td>
          <a [routerLink]="product.key" class="btn btn-primary">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
